# First test

In [5]:
import pandas as pd

file_path = './crx.data'

column_names = ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16']
df = pd.read_csv(file_path, names=column_names)

In [7]:
df

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  00202    0   +
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g  00043  560   +
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  00280  824   +
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  00100    3   +
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  00120    0   +
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ..
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  00260    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  00200  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  00200    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  00280  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g  00000    0   -

[690 rows x 16 columns]

In [9]:
df.sample(5)

    A1     A2     A3 A4 A5  A6  A7     A8 A9 A10  A11 A12 A13    A14  A15 A16
53   b  34.92  2.500  u  g   w   v  0.000  t   f    0   t   g  00239  200   +
594  b  38.67  0.210  u  g   k   v  0.085  t   f    0   t   g  00280    0   +
395  a  33.08  1.625  u  g   d   v  0.540  f   f    0   t   g  00000    0   -
454  b  52.42  1.500  u  g   d   v  3.750  f   f    0   t   g  00000  350   -
438  a  27.17  1.250  u  g  ff  ff  0.000  f   t    1   f   g  00092  300   -

In [11]:
nominal_columns = ['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10', 'A12', 'A13', 'A16']

for col in nominal_columns:
    print(f"Frequency of values in {col}:")
    print(df[col].value_counts())
    print()

Frequency of values in A1:
A1
b    468
a    210
?     12
Name: count, dtype: int64

Frequency of values in A4:
A4
u    519
y    163
?      6
l      2
Name: count, dtype: int64

Frequency of values in A5:
A5
g     519
p     163
?       6
gg      2
Name: count, dtype: int64

Frequency of values in A6:
A6
c     137
q      78
w      64
i      59
aa     54
ff     53
k      51
cc     41
m      38
x      38
d      30
e      25
j      10
?       9
r       3
Name: count, dtype: int64

Frequency of values in A7:
A7
v     399
h     138
bb     59
ff     57
?       9
j       8
z       8
dd      6
n       4
o       2
Name: count, dtype: int64

Frequency of values in A9:
A9
t    361
f    329
Name: count, dtype: int64

Frequency of values in A10:
A10
f    395
t    295
Name: count, dtype: int64

Frequency of values in A12:
A12
f    374
t    316
Name: count, dtype: int64

Frequency of values in A13:
A13
g    625
s     57
p      8
Name: count, dtype: int64

Frequency of values in A16:
A16
-    383
+    307
Name: count, dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      690 non-null    object
 1   A2      690 non-null    object
 2   A3      690 non-null    float64
 3   A4      690 non-null    object
 4   A5      690 non-null    object
 5   A6      690 non-null    object
 6   A7      690 non-null    object
 7   A8      690 non-null    float64
 8   A9      690 non-null    object
 9   A10     690 non-null    object
 10  A11     690 non-null    int64
 11  A12     690 non-null    object
 12  A13     690 non-null    object
 13  A14     690 non-null    object
 14  A15     690 non-null    int64
 15  A16     690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [23]:
df.dtypes

A1      object
A2      object
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
A16     object
dtype: object

In [25]:
df.shape

(690, 16)

In [27]:
df.columns

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11',
       'A12', 'A13', 'A14', 'A15', 'A16'],
      dtype='object')

In [29]:
df.memory_usage()

Index     132
A1       5520
A2       5520
A3       5520
A4       5520
A5       5520
A6       5520
A7       5520
A8       5520
A9       5520
A10      5520
A11      5520
A12      5520
A13      5520
A14      5520
A15      5520
A16      5520
dtype: int64

In [37]:
df['A2'].describe

<bound method NDFrame.describe of 0      30.83
1      58.67
2      24.50
3      27.83
4      20.17
       ...
685    21.08
686    22.67
687    25.25
688    17.92
689    35.00
Name: A2, Length: 690, dtype: object>

In [39]:
df['A2'].unique()

array(['30.83', '58.67', '24.50', '27.83', '20.17', '32.08', '33.17',
       '22.92', '54.42', '42.50', '22.08', '29.92', '38.25', '48.08',
       '45.83', '36.67', '28.25', '23.25', '21.83', '19.17', '25.00',
       '47.75', '27.42', '41.17', '15.83', '47.00', '56.58', '57.42',
       '42.08', '29.25', '42.00', '49.50', '36.75', '22.58', '27.25',
       '23.00', '27.75', '54.58', '34.17', '28.92', '29.67', '39.58',
       '56.42', '54.33', '41.00', '31.92', '41.50', '23.92', '25.75',
       '26.00', '37.42', '34.92', '34.25', '23.33', '23.17', '44.33',
       '35.17', '43.25', '56.75', '31.67', '23.42', '20.42', '26.67',
       '36.00', '25.50', '19.42', '32.33', '34.83', '38.58', '44.25',
       '44.83', '20.67', '34.08', '21.67', '21.50', '49.58', '27.67',
       '39.83', '?', '37.17', '25.67', '34.00', '49.00', '62.50', '31.42',
       '52.33', '28.75', '28.58', '22.50', '28.50', '37.50', '35.25',
       '18.67', '54.83', '40.92', '19.75', '29.17', '24.58', '33.75',
       '25.42', '37.75', '52.50', '57.83', '20.75', '39.92', '24.75',
       '44.17', '23.50', '47.67', '22.75', '34.42', '28.42', '67.75',
       '47.42', '36.25', '32.67', '48.58', '33.58', '18.83', '26.92',
       '31.25', '56.50', '43.00', '22.33', '32.83', '40.33', '30.50',
       '52.83', '46.67', '58.33', '37.33', '23.08', '32.75', '68.67',
       '28.00', '44.00', '25.08', '32.00', '60.58', '40.83', '19.33',
       '41.33', '56.00', '49.83', '22.67', '27.00', '26.08', '18.42',
       '21.25', '57.08', '22.42', '48.75', '40.00', '40.58', '28.67',
       '33.08', '21.33', '41.75', '34.50', '48.17', '27.58', '24.08',
       '24.83', '36.33', '35.42', '71.58', '39.50', '39.33', '24.33',
       '60.08', '55.92', '53.92', '18.92', '50.08', '65.42', '17.58',
       '18.08', '19.67', '25.17', '33.50', '58.42', '26.17', '42.83',
       '38.17', '20.50', '48.25', '28.33', '18.75', '18.50', '45.00',
       '40.25', '41.42', '17.83', '18.17', '20.00', '52.17', '50.75',
       '17.08', '18.33', '59.67', '18.00', '37.58', '30.67', '18.58',
       '16.25', '21.17', '17.67', '16.50', '29.50', '21.75', '18.25',
       '35.75', '16.08', '69.17', '32.92', '16.33', '22.17', '57.58',
       '15.92', '31.75', '19.00', '17.50', '33.67', '30.17', '33.25',
       '25.25', '34.75', '47.33', '39.08', '42.75', '38.92', '62.75',
       '32.25', '26.75', '63.33', '30.75', '16.00', '19.50', '32.42',
       '30.25', '26.83', '16.92', '24.42', '39.42', '23.58', '21.42',
       '33.00', '26.33', '26.25', '28.17', '20.83', '43.17', '56.83',
       '15.17', '29.83', '31.00', '51.92', '69.50', '19.58', '22.25',
       '38.42', '26.58', '35.00', '29.42', '49.17', '51.83', '58.58',
       '53.33', '27.17', '25.92', '30.58', '17.25', '27.33', '36.50',
       '29.75', '52.42', '36.17', '34.58', '21.92', '36.58', '31.08',
       '30.42', '21.08', '17.42', '39.17', '26.50', '17.33', '23.75',
       '34.67', '74.83', '45.33', '47.25', '24.17', '39.25', '39.00',
       '64.08', '31.33', '21.00', '13.75', '46.00', '20.25', '60.92',
       '30.00', '22.83', '45.17', '41.58', '55.75', '25.33', '31.83',
       '33.92', '24.92', '80.25', '30.08', '48.33', '76.75', '51.33',
       '41.92', '29.58', '32.17', '51.42', '42.17', '43.08', '59.50',
       '65.17', '20.33', '48.50', '28.08', '73.42', '51.58', '38.67',
       '46.08', '20.08', '42.25', '16.17', '47.83', '22.00', '38.33',
       '25.58', '21.58', '36.08', '38.75', '35.58', '31.58', '15.75',
       '17.92', '30.33', '47.17', '25.83', '50.25', '36.42'], dtype=object)

In [41]:
pd.to_numeric(df['A2'], errors='coerce')

0      30.83
1      58.67
2      24.50
3      27.83
4      20.17
       ...
685    21.08
686    22.67
687    25.25
688    17.92
689    35.00
Name: A2, Length: 690, dtype: float64

In [43]:
df['A2'].unique()

array(['30.83', '58.67', '24.50', '27.83', '20.17', '32.08', '33.17',
       '22.92', '54.42', '42.50', '22.08', '29.92', '38.25', '48.08',
       '45.83', '36.67', '28.25', '23.25', '21.83', '19.17', '25.00',
       '47.75', '27.42', '41.17', '15.83', '47.00', '56.58', '57.42',
       '42.08', '29.25', '42.00', '49.50', '36.75', '22.58', '27.25',
       '23.00', '27.75', '54.58', '34.17', '28.92', '29.67', '39.58',
       '56.42', '54.33', '41.00', '31.92', '41.50', '23.92', '25.75',
       '26.00', '37.42', '34.92', '34.25', '23.33', '23.17', '44.33',
       '35.17', '43.25', '56.75', '31.67', '23.42', '20.42', '26.67',
       '36.00', '25.50', '19.42', '32.33', '34.83', '38.58', '44.25',
       '44.83', '20.67', '34.08', '21.67', '21.50', '49.58', '27.67',
       '39.83', '?', '37.17', '25.67', '34.00', '49.00', '62.50', '31.42',
       '52.33', '28.75', '28.58', '22.50', '28.50', '37.50', '35.25',
       '18.67', '54.83', '40.92', '19.75', '29.17', '24.58', '33.75',
       '25.42', '37.75', '52.50', '57.83', '20.75', '39.92', '24.75',
       '44.17', '23.50', '47.67', '22.75', '34.42', '28.42', '67.75',
       '47.42', '36.25', '32.67', '48.58', '33.58', '18.83', '26.92',
       '31.25', '56.50', '43.00', '22.33', '32.83', '40.33', '30.50',
       '52.83', '46.67', '58.33', '37.33', '23.08', '32.75', '68.67',
       '28.00', '44.00', '25.08', '32.00', '60.58', '40.83', '19.33',
       '41.33', '56.00', '49.83', '22.67', '27.00', '26.08', '18.42',
       '21.25', '57.08', '22.42', '48.75', '40.00', '40.58', '28.67',
       '33.08', '21.33', '41.75', '34.50', '48.17', '27.58', '24.08',
       '24.83', '36.33', '35.42', '71.58', '39.50', '39.33', '24.33',
       '60.08', '55.92', '53.92', '18.92', '50.08', '65.42', '17.58',
       '18.08', '19.67', '25.17', '33.50', '58.42', '26.17', '42.83',
       '38.17', '20.50', '48.25', '28.33', '18.75', '18.50', '45.00',
       '40.25', '41.42', '17.83', '18.17', '20.00', '52.17', '50.75',
       '17.08', '18.33', '59.67', '18.00', '37.58', '30.67', '18.58',
       '16.25', '21.17', '17.67', '16.50', '29.50', '21.75', '18.25',
       '35.75', '16.08', '69.17', '32.92', '16.33', '22.17', '57.58',
       '15.92', '31.75', '19.00', '17.50', '33.67', '30.17', '33.25',
       '25.25', '34.75', '47.33', '39.08', '42.75', '38.92', '62.75',
       '32.25', '26.75', '63.33', '30.75', '16.00', '19.50', '32.42',
       '30.25', '26.83', '16.92', '24.42', '39.42', '23.58', '21.42',
       '33.00', '26.33', '26.25', '28.17', '20.83', '43.17', '56.83',
       '15.17', '29.83', '31.00', '51.92', '69.50', '19.58', '22.25',
       '38.42', '26.58', '35.00', '29.42', '49.17', '51.83', '58.58',
       '53.33', '27.17', '25.92', '30.58', '17.25', '27.33', '36.50',
       '29.75', '52.42', '36.17', '34.58', '21.92', '36.58', '31.08',
       '30.42', '21.08', '17.42', '39.17', '26.50', '17.33', '23.75',
       '34.67', '74.83', '45.33', '47.25', '24.17', '39.25', '39.00',
       '64.08', '31.33', '21.00', '13.75', '46.00', '20.25', '60.92',
       '30.00', '22.83', '45.17', '41.58', '55.75', '25.33', '31.83',
       '33.92', '24.92', '80.25', '30.08', '48.33', '76.75', '51.33',
       '41.92', '29.58', '32.17', '51.42', '42.17', '43.08', '59.50',
       '65.17', '20.33', '48.50', '28.08', '73.42', '51.58', '38.67',
       '46.08', '20.08', '42.25', '16.17', '47.83', '22.00', '38.33',
       '25.58', '21.58', '36.08', '38.75', '35.58', '31.58', '15.75',
       '17.92', '30.33', '47.17', '25.83', '50.25', '36.42'], dtype=object)

In [45]:
non_numeric_rows = df[pd.to_numeric(df['A2'], errors='coerce').isna()]
print(non_numeric_rows)

    A1 A2      A3 A4 A5  A6  A7     A8 A9 A10  A11 A12 A13    A14   A15 A16
83   a  ?   3.500  u  g   d   v  3.000  t   f    0   t   g  00300     0   -
86   b  ?   0.375  u  g   d   v  0.875  t   f    0   t   s  00928     0   -
92   b  ?   5.000  y  p  aa   v  8.500  t   f    0   f   g  00000     0   -
97   b  ?   0.500  u  g   c  bb  0.835  t   f    0   t   s  00320     0   -
254  b  ?   0.625  u  g   k   v  0.250  f   f    0   f   g  00380  2010   -
286  a  ?   1.500  u  g  ff  ff  0.000  f   t    2   t   g  00200   105   -
329  b  ?   4.000  y  p   i   v  0.085  f   f    0   t   g  00411     0   -
445  a  ?  11.250  u  g  ff  ff  0.000  f   f    0   f   g      ?  5200   -
450  b  ?   3.000  y  p   i  bb  7.000  f   f    0   f   g  00000     1   -
500  b  ?   4.000  u  g   x   v  5.000  t   t    3   t   g  00290  2279   +
515  b  ?  10.500  u  g   x   v  6.500  t   f    0   f   g  00000     0   +
608  b  ?   0.040  y  p   d   v  4.250  f   f    0   t   g  00460     0   -

In [59]:
pd.api.types.is_numeric_dtype(df['A3'])

True

# ASD

In [7]:
df

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  00202    0   +
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g  00043  560   +
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  00280  824   +
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  00100    3   +
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  00120    0   +
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ..
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  00260    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  00200  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  00200    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  00280  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g  00000    0   -

[690 rows x 16 columns]